data/rentalSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rentalAgreement">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:date" name="agreementDate" />
                <xs:element type="xs:string" name="accountNo" />
                <xs:element type="xs:string" name="status" />
                <xs:element type="xs:string" name="firstName" />
                <xs:element type="xs:string" name="lastName" />
                <xs:element type="xs:string" name="address" />
                <xs:element type="xs:string" name="city" />
                <xs:element type="xs:string" name="stateProv" />
                <xs:element type="xs:string" name="postalZip" />
                <xs:element type="xs:string" name="country" />
                <xs:element type="xs:string" name="emailAddress" />
                <xs:element type="xs:string" name="phone" maxOccurs="unbounded" minOccurs="0" />
                <xs:element name="rental">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="description" />
                                        <xs:element type="xs:byte" name="quantity" />
                                        <xs:element type="xs:short" name="cost" />
                                        <xs:element type="xs:float" name="total" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:float" name="grandTotal" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
